<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaojiujiu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- zxing -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name=".XiaoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ecard.ECardDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.coupons.CouponsDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.coupons.CouponsDescriptionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.coupons.CouponsShopApplyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.user.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.user.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name=".ui.user.SettingActivity"
                android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.entitycard.AddEntityCardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.entitycard.EntityCardDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.freshnews.FreshNewsDetailActivity"
            android:screenOrientation="portrait" >
        </activity>


        <!-- 依赖工程-->
        <activity
            android:name="com.google.zxing.CaptureActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>